{% extends 'event/base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/main_styles.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/responsive.css'%}">
{% endblock %}


{% block header_text %}
	<div class="home_content_container">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="home_content">
						
						<div class="home_title">
							2019 All Campaigns!
							<br>
							{% if user.is_authenticated %}
							Hello {{ user.username }}
							<a href="{% url 'logout'%}">Logout</a>
							{% else %}
							<p>You ain't logged in</p>
							<a href="{% url 'login' %}">Login</a>
							{% endif %}
						</div>
					
							<div class="button home_button" onclick="myFunction()"><a href="#">See All!</a></div>
							<div class="button home_button"><a href="#">Find out more</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}


{% block content %}




<!-- Intro -->

<div class="intro">
	<div id ='introBody' class="intro_content d-flex flex-row flex-wrap align-items-start justify-content-between">
		<!-- Grid Event Body Here -->
	</div>
</div>

<!-- Pricing -->




<!-- Call to action -->




{% endblock %}

{% block js %}
<script src="{% static 'js/api.js'%}"></script>
<script src="{% static 'js/custom.js'%}"></script>
{% endblock %}